absl-py
acres
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
amqp
annotated-types
anyio
asgiref
asttokens
astunparse
async-timeout
attrs
billiard
blinker
blis
cachetools
catalogue
celery
certifi
cffi
charset-normalizer
ci-info
click
click-didyoumean
click-plugins
click-repl
cloudpathlib
cloup
colorama
comtypes
confection
configobj
configparser
cryptography
cymem
decorator
distlib
Django
django-cors-headers
django-debug-toolbar
django_urls
djangorestframework
docx
etelemetry
exceptiongroup
executing
filelock
fitz
Flask
flask-cors
flatbuffers
frontend
frozenlist
fsspec
gast
genai
glcontext
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
gTTS
h11
h5py
httplib2
huggingface-hub
idna
imageio
imageio-ffmpeg
importlib_metadata
importlib_resources
ipython
isodate
isosurfaces
itsdangerous
jedi
Jinja2
joblib
keras
kombu
langcodes
language_data
libclang
llvmlite
looseversion
lxml
manim
ManimPango
mapbox_earcut
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
ml-dtypes
moderngl
moderngl-window
more-itertools
moviepy
mpmath
multidict
murmurhash
namex
networkx
nibabel
nipype
nltk
numba
numpy
openai
openai-whisper
opencv-python
opt_einsum
optree
packaging
pandas
parso
pathlib
pdfminer.six
pdfplumber
pillow
pipenv
platformdirs
preshed
proglog
prompt_toolkit
propcache
proto-plus
protobuf
prov
pure_eval
puremagic
pyasn1
pyasn1_modules
pycairo
pycparser
pydantic
pydantic_core
pydot
pydub
pyglet
PyGLM
Pygments
PyMuPDF
pyparsing
pypdfium2
pypiwin32
python-dateutil
python-docx
python-dotenv
python-pptx
pytils
pyttsx3
pytz
pywin32
pyxnat
PyYAML
rdflib
regex
requests
rich
rsa
safetensors
scikit-learn
scipy
screeninfo
sentence-transformers
sentencepiece
shellingham
simplejson
six
skia-pathops
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
sqlparse
srsly
srt
stack-data
starlette
svgelements
sympy
tabulate
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
tf_keras
thinc
threadpoolctl
tiktoken
tokenizers
tools
torch
torchaudio
torchvision
tqdm
traitlets
traits
transformers
typer
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
vine
virtualenv
wasabi
watchdog
wcwidth
weasel
Werkzeug
whisper
whitenoise
wrapt
XlsxWriter
yarl
zipp
