certifi
click
Django
django-cors-headers
djangorestframework
Flask
Flask-SocketIO
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
h11
numpy
oauthlib
requests
rsa
safetensors
six
torch
tqdm
transformers
whisper
PyMuPDF
python-pptx
python-docx
mimetypes
